{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>


            <!-- Main Content Start -->
            <div class="relative mr-auto minfo__contentBox max-w-container xl:max-2xl:max-w-65rem">

                <!-- Project Details Section Start -->
                <div class="py-3.5 max-w-content xl:max-2xl:max-w-50rem max-xl:mx-auto xl:ml-auto">

                    <div class="px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13">
                        <div
                            class="inline-flex items-center gap-2 px-4 py-2 text-xs tracking-wide text-black dark:text-white border lg:px-5 section-name border-platinum dark:border-greyBlack200 rounded-4xl">
                            <i class="fal fa-tasks-alt text-theme"></i>
                            جزئیات پروژه
                        </div>

                        <h2
                            class="text-2xl font-semibold leading-normal text-black dark:text-white mt-7 lg:mt-10 article-title lg:text-3xl lg:leading-normal">
                            پیاده سازی وبسایت قهوه
                        </h2>
                        <div class="mb-4 overflow-hidden mt-7 xl:my-8 thumb rounded-xl xl:rounded-2xl">
                            <img src="https://picsum.photos/840/460" class="w-full" alt="تصویر بند انگشتی پروژه">
                        </div>
                        <div class="post-meta sm:flex items-center justify-between my-8 mb-10 max-sm:space-y-3.5">
                            <div>
                                <h6 class="text-black dark:text-white">مشتری</h6>
                                <p class="text-regular">Envato Theme</p>
                            </div>
                            <div>
                                <h6 class="text-black dark:text-white">خدمات:</h6>
                                <p class="text-regular">نکات و ترفندها، طراحی</p>
                            </div>
                            <div>
                                <h6 class="text-black dark:text-white">مدت زمان</h6>
                                <p class="text-regular">۱۰۸ ساعت</p>
                            </div>
                        </div>

                        <div>
                            <h3 class="mb-3 text-lg font-medium text-black dark:text-white xl:text-2xl">توضیحات پروژه
                            </h3>
                            <p class="text-regular !leading-[2]">
                                مراجع ثبت اختراع در سراسر جهان با چالش بازتعریف روش‌های خود برای رسیدگی به اختراعاتی که
                                توسط نبوغ انسانی تولید نمی‌شوند، بلکه توسط هوش مصنوعی ایجاد می‌شوند، مواجه هستند. این
                                مسئله بحث‌های زیادی را در جامعه مالکیت فکری به وجود آورده است. این تحلیل آغازگر یک
                                مجموعه سه قسمتی است که به بررسی تأثیر هوش مصنوعی بر حقوق مالکیت فکری می‌پردازد.
                            </p>
                            <ul class="text-regular !leading-[2] list-disc ml-6 my-4">
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</li>
                            </ul>
                        </div>


                        <div class="grid gap-5 my-8 sm:grid-cols-2 md:gap-8">
                            <div class="overflow-hidden rounded-xl xl:rounded-2xl">
                                <img src="https://picsum.photos/410/300" class="w-full" alt="Blog Inner Colum Image">
                            </div>
                            <div class="overflow-hidden rounded-xl xl:rounded-2xl">
                                <img src="https://picsum.photos/410/300" class="w-full" alt="Blog Inner Colum Image">
                            </div>
                        </div>
                        <h3 class="mt-12 mb-10 text-2xl font-medium text-black dark:text-white">تکنولوژی ها</h3>
                        <div class="progressbar-wrap space-y-7">
                            <div class="flex flex-wrap items-center gap-5 progressbar">
                                <div class="w-8 icon">
                                    <img src="{% static 'assets/img/skill/html.svg' %}" alt="HTML5">
                                </div>
                                <div class="flex-1 bar" data-percentage="90%">
                                    <h5 class="mb-2 text-black dark:text-white progress-title-holder text-regular">
                                        <span class="progress-title">HTML5</span>
                                    </h5>
                                    <div class="progress-outer bg-platinum dark:bg-greyBlack h-1.5 rounded-2xl">
                                        <div class="progress-content bg-theme h-1.5 w-0 rounded-2xl"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap items-center gap-5 progressbar">
                                <div class="w-8 icon">
                                    <img src="{% static 'assets/img/skill/css.svg' %}" alt="CSS3">
                                </div>
                                <div class="flex-1 bar" data-percentage="80%">
                                    <h5 class="mb-2 text-black dark:text-white progress-title-holder text-regular">
                                        <span class="progress-title">CSS3</span>
                                    </h5>
                                    <div class="progress-outer bg-platinum dark:bg-greyBlack h-1.5 rounded-2xl">
                                        <div class="progress-content bg-theme h-1.5 w-0 rounded-2xl"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap items-center gap-5 progressbar">
                                <div class="w-8 icon">
                                    <img src="{% static 'assets/img/skill/js.svg' %}" alt="javascript">
                                </div>
                                <div class="flex-1 bar" data-percentage="60%">
                                    <h5 class="mb-2 text-black dark:text-white progress-title-holder text-regular">
                                        <span class="progress-title">javascript</span>
                                    </h5>
                                    <div class="progress-outer bg-platinum dark:bg-greyBlack h-1.5 rounded-2xl">
                                        <div class="progress-content bg-theme h-1.5 w-0 rounded-2xl"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap items-center gap-5 progressbar">
                                <div class="w-8 icon">
                                    <img src="{% static 'assets/img/skill/tailwind.svg' %}" alt="TailwindCSS">
                                </div>
                                <div class="flex-1 bar" data-percentage="90%">
                                    <h5 class="mb-2 text-black dark:text-white progress-title-holder text-regular">
                                        <span class="progress-title">TailwindCSS</span>
                                    </h5>
                                    <div class="progress-outer bg-platinum dark:bg-greyBlack h-1.5 rounded-2xl">
                                        <div class="progress-content bg-theme h-1.5 w-0 rounded-2xl"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap items-center gap-5 progressbar">
                                <div class="w-8 icon">
                                    <img src="{% static 'assets/img/skill/figma.svg' %}" alt="TailwindCSS">
                                </div>
                                <div class="flex-1 bar" data-percentage="80%">
                                    <h5 class="mb-2 text-black dark:text-white progress-title-holder text-regular">
                                        <span class="progress-title">Figma</span>
                                    </h5>
                                    <div class="progress-outer bg-platinum dark:bg-greyBlack h-1.5 rounded-2xl">
                                        <div class="progress-content bg-theme h-1.5 w-0 rounded-2xl"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Project Details Section End -->


            <!-- Footer Start -->
            <footer class="py-6 ml-auto text-center footer-section max-w-content xl:max-2xl:max-w-50rem">
                <p class="">
                    تهیه و توسعه داده شده توسط راست چین
                    <!-- <a href="#" class="transition-colors">@domain.com</a>/ -->
                </p>
            </footer>
            <!-- Footer End -->


        </div>
        <!-- Main Content End -->
{% endblock %}

    